/* Color Palette */
/* Fonts */
/* Values */
/**
 * ::::::: Media Width
 */
/**
 * ::::::: Media Height
 */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #0B271E 70%, #D9E052 100%);
  background-repeat: no-repeat;
  position: relative;
}

h1, h2, h3 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

h4, h5, h6 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.anim--scroll {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show--animated {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.header.fixed {
  background-color: #0B271E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__container {
  display: flex;
  margin: 1rem 0;
  position: relative;
}
.header__container .header__logo {
  display: inline-block;
}
.header__container .header__logo .header__logo-img {
  display: flex;
  gap: 12px;
  width: 260px;
}
.header__container .header__logo .header__logo-img svg {
  width: 60px;
}
.header__container .header__logo .header__logo-img img {
  width: 193px;
}
.header__container .header__menu {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: end;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-150%);
  transition: all 0.3s ease;
  width: 100%;
  z-index: 3;
}
@media (min-width: 768px) {
  .header__container .header__menu {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    transform: translate(0);
  }
}
.header__container .header__menu.active {
  transform: translate(0);
  transition: all 0.3s ease;
}
.header__container .header__menu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .header__container .header__menu ul {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .header__container .header__menu ul {
    width: 70%;
  }
}
.header__container .header__menu ul li {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  position: relative;
}
@media (min-width: 768px) {
  .header__container .header__menu ul li {
    font-size: 1rem;
    justify-content: center;
  }
}
.header__container .header__menu ul li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  display: inline-flex;
  gap: 5px;
  position: relative;
}
.header__container .header__menu ul li a img {
  bottom: -15px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease;
}
.header__container .header__menu ul li a::after {
  border-top: 2px solid #D9E052;
  bottom: -4px;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease;
  width: 0;
}
.header__container .header__menu ul li a:hover img {
  bottom: 0;
  opacity: 1;
  transition: all 0.3s ease;
}
.header__container .header__menu ul li a:hover::after {
  opacity: 1;
  transition: all 0.3s ease;
  width: 100%;
}
.header__container .header__menu ul li:hover .submenu {
  opacity: 1;
  transition: all 0.3s ease;
}
.header__container .header__menu ul li .submenu {
  background-color: #D9E052;
  bottom: -45px;
  display: none;
  position: absolute;
  opacity: 1;
  width: 50%;
  z-index: 1;
  transition: all 0.3s ease;
  height: auto;
}
.header__container .header__menu ul li .submenu:hover {
  background-color: #00AFC7;
  color: #ffffff;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .header__container .header__menu ul li .submenu {
    bottom: -35px;
    display: block;
    opacity: 0;
    width: 130%;
  }
}
@media (min-width: 992px) {
  .header__container .header__menu ul li .submenu {
    display: block;
  }
}
.header__container .header__menu ul li .submenu li {
  padding-left: 10px;
}
.header__container .header__menu ul li .submenu a {
  color: #000000;
  padding: 1px;
}
.header__container .header__menu ul li .submenu a::after {
  border-top: none;
}
.header__container .header__menu ul li .dropdown--mobile {
  display: block;
  cursor: pointer;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .header__container .header__menu ul li .dropdown--mobile {
    display: none;
  }
}
.header__container .header__menu ul li .dropdown--mobile svg {
  width: 15px;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}
.header__container .header__menu ul li .dropdown--mobile.dropdown svg {
  transform: rotate(0);
  transition: all 0.3s ease;
}
.header__container .header__menu .header__menu--icon {
  width: 18px;
  height: 20px;
  display: block;
}
.header__container .header__menu-mobile--selector {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 30%;
  right: 5%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  display: block;
}
@media (min-width: 768px) {
  .header__container .header__menu-mobile--selector {
    display: none;
  }
}
.header__container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 30%;
  right: 5%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__container .hamburger-lines {
    display: none;
  }
}
.header__container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  background: #ffffff;
}
.header__container .hamburger-lines .line.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.header__container .hamburger-lines .line.line2 {
  transition: transform 0.2s ease-in-out;
}
.header__container .hamburger-lines .line.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.header__container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}
.header__container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.header__container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.header__container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.intro {
  margin-top: 14%;
}
.intro .intro__content {
  margin-top: 15%;
}
.intro .intro__content h1 {
  font-size: 2.5rem;
  transition-delay: 200ms;
}
@media (min-width: 768px) {
  .intro .intro__content h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .intro .intro__content h1 {
    font-size: 50px;
  }
}
.intro .intro__content p {
  margin-top: 2rem;
  transition-delay: 300ms;
}
.intro .intro__img {
  position: relative;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .intro .intro__img {
    margin-top: 0;
  }
}
.intro .intro__img .ram__title {
  position: absolute;
  top: -10%;
  z-index: 2;
  transition-delay: 500ms;
}
.intro .intro__img .ram__img {
  transition-delay: 400ms;
}

.characters {
  padding: 7rem 0;
}
.characters .characters__title {
  position: relative;
}
.characters .characters__title img {
  position: absolute;
  top: -110px;
  left: 6%;
  width: 292px;
  transition-delay: 200ms;
}
.characters .characters__title h2 {
  text-align: center;
  padding-left: 90px;
  transition-delay: 300ms;
}
.characters .characters__carousel {
  margin: 200px 0 0;
}
.characters .characters__carousel .character-group {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.characters .characters__carousel .single-character {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.characters .characters__carousel .single-character .character-img {
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.characters .characters__carousel .single-character .character-img img {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.characters .characters__carousel .single-character .character-info {
  background-color: #00AFC7;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 1.3rem;
  height: 100%;
}
.characters .characters__carousel .single-character .character-info h3 {
  text-align: center;
  font-size: 22px;
}
.characters .characters__carousel .single-character .character-info h4 {
  margin-top: 1rem;
  font-size: 16px;
  color: #D9E052;
}
.characters .characters__carousel .single-character .character-info p {
  font-weight: 800;
}
.characters .characters__carousel .single-character .character-info .status {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
  justify-content: center;
}
.characters .characters__carousel .single-character .character-info .status .status-icon {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
}
.characters .characters__carousel .single-character .character-info .status .status-icon.green {
  background-color: #D9E052;
}
.characters .characters__carousel .single-character .character-info .status .status-icon.red {
  background-color: red;
}
.characters .characters__carousel .single-character .character-info .status .status-icon.gray {
  background-color: gray;
}
.characters .characters__carousel .carousel-control-prev {
  left: -2%;
}
@media (min-width: 768px) {
  .characters .characters__carousel .carousel-control-prev {
    left: -10%;
  }
}
.characters .characters__carousel .carousel-control-next {
  right: -2%;
}
@media (min-width: 768px) {
  .characters .characters__carousel .carousel-control-next {
    right: -10%;
  }
}
.characters .characters__carousel .carousel-control-prev-icon::before,
.characters .characters__carousel .carousel-control-next-icon::before {
  color: #00AFC7 !important;
}

.wubba {
  margin-top: 50%;
}
@media (min-width: 768px) {
  .wubba {
    margin-top: 10%;
  }
}
.wubba .wubba__pickle-rick {
  position: relative;
}
.wubba .wubba__pickle-rick h4 {
  font-size: 50px;
  text-align: center;
  position: relative;
  z-index: 2;
  transition-delay: 350ms;
}
.wubba .wubba__pickle-rick .pickle-rick {
  position: absolute;
  width: 220px;
  top: -90px;
  right: 30px;
  transition-delay: 200ms;
}
.wubba .wubba__quote {
  margin-top: 50%;
  position: relative;
}
@media (min-width: 768px) {
  .wubba .wubba__quote {
    margin-top: 60%;
  }
}
@media (min-width: 992px) {
  .wubba .wubba__quote {
    margin-top: 30%;
  }
}
.wubba .wubba__quote .rick_morty_zombie {
  position: absolute;
  transform: rotateY(180deg);
  left: -130px;
  top: 0;
  width: 810px;
  transition-delay: 150ms;
}
@media (min-width: 768px) {
  .wubba .wubba__quote .rick_morty_zombie {
    left: -240px;
    top: -250px;
  }
}
.wubba .wubba__quote .quote {
  font-size: 3rem;
  position: relative;
  width: 80%;
  top: 110px;
  left: 20%;
  margin: 0;
  transition-delay: 200ms;
}
@media (min-width: 768px) {
  .wubba .wubba__quote .quote {
    font-size: 70px;
    left: 40%;
    width: 60%;
  }
}

.find-me {
  margin-top: 50%;
  transition-delay: 200ms;
}
@media (min-width: 768px) {
  .find-me {
    margin-top: 30%;
  }
}
.find-me .find-me__container {
  background-color: #0B271E;
  border-radius: 25px;
  padding: 2rem;
}
.find-me .find-me__container .form__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.find-me .find-me__container .form__display form {
  width: 100%;
}
.find-me .find-me__container .form__display form input, .find-me .find-me__container .form__display form textarea {
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 20px;
}
.find-me .find-me__container .form__display form input::-moz-placeholder, .find-me .find-me__container .form__display form textarea::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  opacity: 1;
  color: #000000;
}
.find-me .find-me__container .form__display form input::placeholder, .find-me .find-me__container .form__display form textarea::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  opacity: 1;
  color: #000000;
}
.find-me .find-me__container .form__display .send {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background-color: #D9E052;
  border-radius: 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
.find-me .find-me__container .form__display .send:hover {
  background-color: #00AFC7;
  color: #ffffff;
  transition: all 0.3s ease;
}
.find-me .find-me__container .find-me__img {
  text-align: center;
}
.find-me .find-me__container .find-me__img img {
  width: 400px;
  transition-delay: 300ms;
}

footer {
  padding: 4rem 0;
}
footer h3 {
  color: #000000;
  text-align: center;
  font-size: 25px;
}
footer .socials {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.modal .modal-content {
  background-color: #0B271E;
}
.modal .modal-header {
  border: none;
}
.modal .modal-body h3 {
  text-align: center;
}
.modal .modal-body .thank-you--img {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */